@model MusicIdentificationSystem.AdminLTE.Models.ApplicationSetting.ApplicationSettingListModel

@using GridMvc.Html

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    ViewBag.Title = Resources.Resources.ApplicationSetting_Title_ApplicationSettingList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div>
        <h1>
            @ViewBag.Title
        </h1>
    </div>*@

<section class="content">
    <div class="row">

        <div class="col-xs-2">
            <button type="button" class="btn btn-block btn-primary" onclick="location.href='@Url.Action("Create", "ApplicationSetting")'">@Resources.Resources.Global_Button_Create</button>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="force-scrollbar">
                @Html.Grid(Model.ApplicationSettingModelsList).Named("ApplicationSettingGrid").Columns(columns =>
                   {
                       columns.Add()
                           .Encoded(false)
                           .Sanitized(false)
                           .SetWidth(80)
                           //.RenderValueAs(c => Html.ActionLink(@Resources.Resources.Global_Button_Edit, "Edit", new { id = c.Id }).ToHtmlString());
                           .RenderValueAs(c => Html.ActionLink(@Resources.Resources.Global_Button_Edit, "Edit", new { id = c.Id }).ToHtmlString());

                       columns.Add(c => c.AccountName).Titled(Resources.Resources.ApplicationSetting_AccountName).Filterable(true);
                       columns.Add(c => c.KeyName).Titled(Resources.Resources.ApplicationSetting_KeyName).Filterable(true);
                       columns.Add(c => c.KeyValue).Titled(Resources.Resources.ApplicationSetting_KeyValue);
                       columns.Add(c => c.Description).Titled(Resources.Resources.ApplicationSetting_Description).Filterable(true);
                       columns.Add(c => c.IsActive).Titled(Resources.Resources.ApplicationSetting_IsActive).Filterable(true);
                   }).WithPaging(10).Sortable(true)
            </div>
        </div>

    </div>
</section>
