@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>@Resources.Resources.Global_NavBar_Accounts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "Account")"><i class="fa fa-users"></i>@Resources.Resources.Global_NavBar_Accounts</a></li>
                    <li><a href="@Url.Action("List", "StreamStation")"><i class="fa fa-tv"></i>@Resources.Resources.Global_NavBar_StreamStations</a></li>
                    <li><a href="@Url.Action("List", "Track")"><i class="fa fa-music"></i>@Resources.Resources.Global_NavBar_Tracks</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>@Resources.Resources.Global_NavBar_ApplicationSettings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List", "ApplicationSetting")"><i class="fa fa-wrench"></i>@Resources.Resources.Global_NavBar_ApplicationSettings</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>